---
import Default from "@layouts/Default.astro";
import FeaturedServices from "@components/generic/FeaturedServices.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";

const upgrades = [
  {
    name: "Coolers",
    url: "https://www.pctintas.com/shop/category/accesorios-bases-refrigerantes-369",
  },
  {
    name: "Monitores",
    url: "https://www.pctintas.com/shop/category/computadores-monitores-615",
  },
  {
    name: "Amplía tu RAM",
    url: "https://www.pctintas.com/shop/category/almacenamiento-y-partes-memoria-ram-343",
  },
  {
    name: "Teclados",
    url: "https://www.pctintas.com/shop/category/accesorios-teclado-366",
  },
  {
    name: "Amplía o mejora tu SSD",
    url: "https://www.pctintas.com/shop/category/almacenamiento-y-partes-disco-solido-m-2-340",
  },
  {
    name: "Accesorios Gaming",
    url: "https://www.pctintas.com/shop/category/accesorios-mouse-365",
  },
  {
    name: "Mouse",
    url: "https://www.pctintas.com/shop/category/accesorios-mouse-365",
  },
];
---

<Default
  title="Inicio"
  pageTitle="Tu técnico de confianza | Inicio"
  description="Con tu técnico de confianza puedes reparar tu equipo, hacerle mantenimiento y hacer upgrades"
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="main" class="grid md:grid-cols-8 gap-6 my-12">
      <div class="col-span-3 md:col-span-4">
        <Card>
          <div class="flex flex-col justify-between items-start gap-2">
            <p class="mt-4 outfit text-4xl md:text-4xl lg:text-7xl">
              Agenda un mantenimiento
            </p>
            <p class="mb-6 outfit text-3xl md:text-4xl lg:text-5xl">
              para tu equipo y optimiza su rendimiento
            </p>
            <Button target={"_self"} href="/services/maintenance">
              ¿En que consiste? &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class="col-span-3 md:col-span-2">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
            ¿Quieres mejorar tu PC?
          </h2>
          <ul class="flex gap-4 flex-wrap">
            {
              upgrades.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="sanchez text-lg"
                      href={item.url}
                      target="_blank"
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class="col-span-3 md:col-span-2">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-5xl mb-4 dm-serif">
            ¿Necesitas una reparación?
          </h2>
          <p class="poppins text-lg">
            <span class="block">¡Yo te ayudo!</span> Si tienes un problema de software
            o hardware, a domicilio o por escritorio remoto (siempre y cuando el
            problema lo permita)
          </p>
        </Card>
      </div>
    </section>
    <FeaturedServices />
  </main>
</Default>
